<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.ssafy.hw.model.dao.AptListDao">
	<sql id="andExclude">
		and show_flag
	</sql>

	<!--법정동코드로 아파트 검색-->
	<select id="getAptsByDong" parameterType="string" resultType="AptItemDto">
		select * from apt_info 
		where bjd_code = #{dong}
		<include refid="andExclude"/>
	</select>
	<!--아파트 이름으로 아파트 검색-->
	<select id="getAptsByName" parameterType="hashmap" resultType="AptItemDto">
		select * from apt_info 
		<if test="matchOption == null or matchOption == 'exact'">
			where apt_name = #{name}
		</if>
		<if test = "matchOption == 'like'">
			where apt_name like concat('%', #{name}, '%')
		</if>
		<include refid="andExclude"/>
	</select>
	<!--위도경도 범위로 아파트 검색-->
	<select id="getAptsByLatLngs" parameterType="hashmap" resultType="AptItemDto">
		select * from apt_info
		<if test="slat != null and slng != null and elat != null and elng != null">
			where lat between #{slat} and #{elat}
			and lng between #{slng} and #{elng}
		</if>
		<include refid="andExclude"/>
	</select>
	<!--추천 매물 검색-->
	<select id="getRecAptsByPfp" parameterType="hashmap" resultType="AptItemDto">
	    <!-- UNION으로 결과 결합 -->
	    <if test="pfp1 != null or pfp2 != null or pfp3 != null">
	        (
	        <if test="pfp1 != null">
	        	(
		            select * from apt_info 
		            where bjd_code=#{pfp1} 
		            <include refid="andExclude"/>
		            limit #{pfp1_cnt}
	            ) 
	            <if test="pfp2 != null or pfp3 != null">UNION</if>
	        </if>
	        <if test="pfp2 != null">
	            (
		            select * from apt_info 
		            where bjd_code=#{pfp2} 
		            <include refid="andExclude"/>
		            limit #{pfp2_cnt}
	            )
	            <if test="pfp3 != null">UNION</if>
	        </if>
	        <if test="pfp3 != null">
	        	(
		        	select * from apt_info where bjd_code=#{pfp3} 
		        	<include refid="andExclude"/>
		        	limit #{pfp3_cnt}
	        	)
	        </if>
	        )
	    </if>
	</select>
	<select id="getPfps" parameterType="int" resultType="string">
	    select dongcode from member m, dongcode d 
		where m.member_id = #{member_id}
		and fullName in (prefered_place_1, prefered_place_2, prefered_place_3)
	</select>
	<select id="getRecAptsByLoc" parameterType="hashmap" resultType="AptItemDto">
	    <if test="lng != null or lat != null or loc_cnt != null">
	        SELECT *, ST_Distance_Sphere(POINT(#{lng}, #{lat}), POINT(lng, lat)) as distance 
			from apt_info
			<where>
				<include refid="andExclude"/>
			</where>
			order by distance
			limit #{loc_cnt}
			
	    </if>
	</select>

</mapper>
