<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.ssafy.hw.model.dao.MemberDao">

	<!--회원가입-->
	<insert id="insertMember" parameterType="Member">
		insert into member(email, password, name, registered_at, age, prefered_place_1, prefered_place_2, prefered_place_3, prefered_type)
		values (#{email}, #{password}, #{name}, now(), #{age}, #{preferedPlace1}, #{preferedPlace2}, #{preferedPlace3}, #{preferedType})
	</insert>

	<insert id="insertSocialMember" parameterType="string">
		insert into member (email, registered_at, name) value (#{email}, now(), #{name});
	</insert>

	<!--회원조회-->
	<select id="selectMember" parameterType="string" resultType="Member">
		select *
		from member where email = #{email}
	</select>

	<select id="loginMember" parameterType="string" resultType="Member">
		select *
		from member where email = #{email} and password = #{password}
	</select>

	<!-- 회원 수정 -->
	<update id="updateMember" parameterType="Member">
		update member
		set
			password = #{password},
			name = #{name},
			age = #{age},
			prefered_place_1 = #{preferedPlace1},
			prefered_place_2 = #{preferedPlace2},
			prefered_place_3 = #{preferedPlace3},
			prefered_type = #{preferedType}
		where email = #{email}
	</update>

	<!-- 회원 탈퇴 -->
	<delete id="deleteMember" parameterType="string">
		delete from member
		where email = #{email}
	</delete>

</mapper>
